streamlit>=1.9.2,<2.0
pandas==1.5.0
polars>=0.8.0,<1.0
scikit-learn==1.2.2
altair==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
cachetools==5.1.0
certifi==2022.5.18.1
cffi>=1.14.6,<2.0
numpy==1.23.0
Cython==0.29.34
